<style type="text/css" data-reactid=".0.0.$s12">
/*
  
        
        .s12link {
            display: block;
            border-radius: 50%;
            border: 0px solid rgba(234, 229, 229, 1);
            background-color: rgba(234, 229, 229, 1);
            overflow: hidden;
        }
*/


h0,h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
    font-weight: 50;
    color: #222222;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

h0 {
    font-size: 70px;
    font-weight: 900;
    font-stretch:;
/*    padding-bottom: 10px;*/
    font-family: sans-serif
    
}

h1 {
    font-size: 40px;
    font-weight: 900;
    font-stretch:;
/*    padding-bottom: 10px;*/
    font-family: sans-serif
    
}

h2 {
    padding-bottom: 10px;
    font-size: 32px;
}

h3 {
    font-size: 24px;
    color: firebrick
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 10px 0 15px 0;
}

</style> 
<style type="text/css" data-reactid=".0.0.$theme_colors"> 

.color_1 {
    color: #FFFFFF;
}
.color_2 {
    color: #000000;
}

.color_3 {
    color: #DDDDDD;
}

.color_4 {
    color: #FFCB05;
}

.color_5 {
    color: #ED1C24;
}

.color_6 {
    color: #6C3C17;
}

.color_9 {
    color: #85CCCC;
}

.color_11 {
    color: #EAE5E5;
}

.color_12 {
    color: #C4C4C4;
}

.color_13 {
    color: #8B8B8B;
}

.color_14 {
    color: #4D4D4D;
}

.color_19 {
    color: #9B2439;
}

.color_20 {
    color: #4D121D;
}
</style>


/*背景圖*/
/*<style type="text/css">*/
/*#T1{*/
　background-image:url(http://i.imgur.com/hYlxIsx.jpg);
　background-repeat:no-repeat;
　width:2000px;
　height:200px;
　border:1px #ccc solid;
　margin-top:10px;
}
/*</style>*/
